.a-left {
    
	height:100px;
    width:15px;
	border:4px solid red;
	margin:50px 40px 0px 80px;
    transform:skew(-30deg);
    float:left;
}


.a-right{
    
	height:100px;
    width:15px;
	border:4px solid red;
	margin:50px 23px 0px 5px;
    transform:skew(30deg);
	float:left;

}


.a-middle{
    
	height:12px;
    width:75px;
	border:3px solid red;
	margin:100px 0px 0px -98px;
    float:left;

}

.b-left{
    
	height:100px;
	border:10px double red;
	border-right:0px;
	margin:50px 0px 0px 100px;
    float:left;

}


.b-right-1{
    
	height:50px;
    width:80px;
	border:10px double red;
	border-left:0px;
	boder-bottom:0px;
	border-radius:0px 30px 30px 0px; 
	margin:100px 0px 0px 0px;
    float:left;

}

.b-right-2{
    
	height:50px;
    width:80px;
	border:10px double red;
	border-left:0px;
	border-radius:0px 30px 30px 0px; 
	margin:50px 0px 0px -80px;
    float:left;

}

.c{
    
	height:100px;
	width:60px;
	border:10px double red;
	border-right:0px;
	border-radius:50px 0px 0px 50px; 
	margin:50px 0px 0px 120px;
    float:left;

}

.c-right-1 {

    height:10px;
	width:2px;
	border:2px double red;
	margin:50px 0px 0px 180px;
    

}


.c-right-2 {

    height:10px;
	width:2px;
	border:2px double red;
	margin:80px 0px 0px 180px;
    

}

.d-trouble{

    height:100px;
	width:80px;
	border:10px double red;
	border-radius:0px 50px 50px 0px;
	margin:50px 0px 0px 140px;
    

}

.e-trouble {

    height:100px;
	width:70px;
	border:12px double red;
	border-right:0px;
	margin:50px 0px 0px 100px;


}

.e-middle {

   height:12px;
   width:70px;
   border:4px solid red;
   margin:-55px 0px 0px 100px;
   float:left;

}

.e-right {

   height:10px;
   border:2px solid red;
   margin:-10px 0px 0px 166px;
   float:left;

}

.e-right-two {

   height:10px;
   border:2px solid red;
   margin:-100px 0px 0px 166px;
   float:left;

}


.f-one {

  height:100px;
  width:15px;
  border:4px solid red;
  margin:50px 0px 0px 110px; 


}

.f-two {

 height:15px;
 width:70px;
 border:4px solid red;
 border-left:0px;
 margin:-60px 0px 0px 110px; 


}

.f-three {

 height:15px;
 width:70px;
 border:4px solid red;
 border-left:0px;
 margin:-55px 0px 0px 110px; 


}

.g{
    
	height:100px;
	width:60px;
	border:10px double red;
	border-right:0px;
	border-radius:50px 0px 0px 50px; 
	margin:50px 0px 0px 120px;
    float:left;

}



.g-right-three {

    height:50px;
	width:50px;
	border:10px double red;
	border-bottom:0px;
	margin:98px 0px 0px 170px;
      
}

.g-right-four {

   height:10px;
   border:2px solid red;
   margin:-100px 0px 0px 177px;
   float:left;

}

.g-right-five {

   height:2px;
   width:10px;
   border:2px solid red;
   margin:-5px 0px 0px 210px;
   float:left;


}


.h-right {

    height:100px;
    width:15px;
    border:4px solid red;
    margin:50px 0px 0px 110px; 
    float:left;

}

.h-left {

    height:100px;
    width:15px;
    border:4px solid red;
    margin:50px 0px 0px 50px;
    float:left;	
 

}

.h-middle {

    height:15px;
    width:56px;
    border:4px solid red;
	border-right:0px;
	border-left:0px;
    margin:-60px 0px 0px 122px;
    float:left;
      
}

.i-main {

    height:85px;
    width:12px;
    border:3px solid red;
	border-top:0px;
	border-bottom:0px;
    margin:50px 0px 0px 110px; 
    float:left;

}

.i-top {

   height:12px;
   width:35px;
   border:3px solid red;
   margin:41px 0px 0px -24px;
   float:left;

}

.i-bottom {

   height:12px;
   width:35px;
   border:3px solid red;
   margin:132px 0px 0px -35px;
   float:left;

}

.j-main {

   height:100px;
   width:60px;
   border:10px double red;
   border-left:0px;
   border-radius:0px 0px 50px 50px;
   margin:50px 0px 0px 100px; 
   float:left;
} 

.j-top {

   height:10px;
   border:1px solid red;
   margin:50px 0px 0px -60px;
   float:left;

}

.k-main {

    height:100px;
    width:15px;
    border:4px solid red;
	margin:50px 0px 0px 110px; 
    float:left;

}

.k-top {
    
	height:50px;
    width:15px;
	border:4px solid red;
	margin:50px 40px 0px 17px;
    transform:skew(-40deg);
    float:left;
}

.k-bottom {
    
	height:50px;
    width:15px;
	border:4px solid red;
	margin:100px 0px 0px -55px;
    transform:skew(40deg);
    float:left;
}

.l-left {

    height:100px;
    width:15px;
    border:4px solid red;
    margin:50px 0px 0px 110px; 
    float:left;

}

.l-bottom {

    height:15px;
    width:56px;
    border:4px solid red;
	border-left:0px;
    margin:135px 0px 0px 0px;
    float:left;
      
}

.m-right {

    height:100px;
    width:15px;
    border:4px solid red;
    margin:50px 0px 0px 70px; 
    float:left;

}

.m-left {

    height:100px;
    width:15px;
    border:4px solid red;
    margin:50px 0px 0px 100px;
    float:left;	
 

}

.m-middle-one {
    
	height:50px;
    width:15px;
	border:4px solid red;
	margin:-100px 40px 0px 125px;
    transform:skew(30deg);
    float:left;
}

.m-middle-two {
    
	height:50px;
    width:15px;
	border:4px solid red;
	margin:-100px 40px 0px 160px;
    transform:skew(-30deg);
    float:left;
}

.n-left {

    height:100px;
    width:15px;
    border:4px solid red;
    margin:50px 0px 0px 90px; 
    float:left;

}

.n-right {

    height:100px;
    width:15px;
    border:4px solid red;
    margin:50px 0px 0px 50px; 
    float:left;

}

.n-middle{
    
	height:100px;
    width:15px;
	border:4px solid red;
	margin:-100px 40px 0px 125px;
    transform:skew(30deg);
    float:left;
}

.o-main {

    height:100px;
	width:75px;
	border-radius:50px;
	border:10px double red;
    margin:50px 0px 0px 110px;

}

.p-left {

    height:100px;
    width:15px;
    border:4px solid red;
    margin:50px 0px 0px 90px; 
    float:left;


}

.p-top{
    
	height:50px;
    width:60px;
	border:13px double red;
	border-left:0px;
	
	border-radius:0px 30px 30px 0px; 
	margin:50px 0px 0px 0px;
    float:left;

}

.q-main {

    height:100px;
	width:75px;
	border-radius:50px;
	border:10px double red;
    margin:50px 0px 0px 110px;


}

.q-bottom{
    
	height:30px;
    width:15px;
	border:3px solid red;
	margin:-20px 40px 0px 160px;
    transform:skew(30deg);
    float:left;

}

.r-left {

    height:100px;
    width:15px;
    border:4px solid red;
    margin:50px 0px 0px 90px; 
    float:left;


}

.r-top {
    
	height:50px;
    width:60px;
	border:13px double red;
	border-left:0px;	
	border-radius:0px 30px 30px 0px; 
	margin:50px 0px 0px 0px;
    float:left;

}

.r-bottom {
    
	height:53px;
    width:15px;
	border:4px solid red;
	margin:97px 20px 0px -39px;
    transform:skew(42deg);
    float:left;
}

.s-top {

    height:50px;
	width:60px;
	border:10px double red;
	margin:50px 0px 0px 110px;
    border-radius:30px 0px 0px 30px;
    border-right:0px;	

}

.s-bottom {

    height:50px;
	width:60px;
	border:10px double red;
	margin:-10px 0px 0px 130px;
    border-radius:0px 30px 30px 0px;
    border-left:0px;	

}

.s-one {

   height:10px;
   width:15px;
   border:3px solid red;
   border-left:0px;
   margin:-90px 0px 0px 165px;
   float:left;

}

.s-two {

   height:10px;
   width:15px;
   border:3px solid red;
   border-right:0px;
   margin:-10px 0px 0px 115px;
   float:left;

}

.t-main {

    height:100px;
    width:15px;
    border:4px solid red;
	border-top:0px;
    margin:50px 0px 0px 110px; 
    float:left;

}

.t-top {

   height:12px;
   width:85px;
   border:3px solid red;
   margin:41px 0px 0px -50px;
   float:left;

}

.u-main {

    height:100px;
	width:70px;
	border:10px double red;
	border-top:0px;
	border-radius:0px 0px 30px 30px;
    margin:50px 0px 0px 100px;

}

.u-left {
    
    height:2px;
	width:10px;
	border:2px solid red;
    margin:-100px 0px 0px 100px;


}

.u-right {
    
    height:2px;
	width:10px;
	border:2px solid red;
    margin:-4px 0px 0px 160px;


}

.v-left {
    
	height:90px;
    width:15px;
	border:4px solid red;
	margin:50px 15px 0px 120px;
    transform:skew(30deg);
    float:left;
}

.v-right {
    
	height:90px;
    width:15px;
	border:4px solid red;
	border-bottom:0px;
	margin:50px 0px 0px 22px;
    transform:skew(-30deg);
    float:left;
}

.w-one{
    
	height:38px;
    width:15px;
	border:4px solid red;
	border-bottom:0px;
	margin:80px 18px 0px 138px;
    transform:skew(-38deg);
    float:left;
}


.w-two{
    
	height:38px;
    width:15px;
	border:4px solid red;
	border-bottom:0px;
	margin:80px 25px 0px 5px;
    transform:skew(38deg);
	float:left;

}

.w-left {
    
	height:80px;
    width:15px;
	border:4px solid red;
	margin:40px 0px 0px -109px;
    transform:skew(25deg);
    float:left;
}

.w-right {
    
	height:80px;
    width:15px;
	border:4px solid red;
	margin:40px 0px 0px -8px;
    transform:skew(-25deg);
    float:left;
}

.x-left {
    
	height:90px;
    width:15px;
	border:4px solid red;
	margin:50px 0px 0px 120px;
    transform:skew(40deg);
    float:left;
}

.x-right {
    
	height:90px;
    width:15px;
	border:4px solid red;
	margin:50px 0px 0px -20px;
    transform:skew(-40deg);
    float:left;
}

.y-left {
    
	height:55px;
    width:15px;
	border:4px solid red;
	border-bottom:0px;
	margin:50px 25px 0px 120px;
    transform:skew(35deg);
    float:left;
}

.y-right {
    
	height:55px;
    width:15px;
	border:4px solid red;
	border-bottom:0px;
	margin:50px 0px 0px 0px;
    transform:skew(-35deg);
    float:left;
}

.y-bottom {

    height:60px;
    width:15px;
    border:4px solid red;
	border-top:0px;
    margin:105px 0px 0px -35px; 
    float:left;

}

.z-main {

    height:75px;
    width:15px;
    border:4px solid red;
	border-top:0px;
	border-bottom:0px;
	transform:skew(-35deg);
    margin:60px 0px 0px 140px; 
    float:left;

}

.z-top {

   height:12px;
   width:70px;
   border:3px solid red;
   margin:50px 0px 0px -44px;
   float:left;

}

.z-bottom {

   height:12px;
   width:70px;
   border:3px solid red;
   margin:133px 0px 0px -69px;
   float:left;

}